
#header{
    background: paleturquoise;
}
#menu{
    background-color: orange;
    float: left;
    width: 150px;
    height: 100%;
    font-size: 20px;      
}
#content{
    background-color: white;
    margin-left: 160px;  
}
#footer{
    background-color: gray;   
}
html,
	body {
	  height: 100%;
	  width: 100%;
}
#menu ul li{
    list-style: none;
} 
#menu ul li a{
    text-decoration: none;
}
#menu ul li a:hover{
    color: white;
}

