h1{
    color: black;
    text-align: left;
}
#header{
    background-color: paleturquoise;
}
#menu{
    background-color: orange;
}
#content{
    background-color: white;
}
#footer{
    background-color: gray;
}